# BZAN2021 -- Fall 2024 -- Sterpe -- Final Exam

**Important**
* Write your code in the code cells provided.
* You may create additional code cells if you need them. If you try solving a problem more than one way, make it clear which code cell contains your official answer. If it is not clear which cell contains your official answer, you will lose points.
* You may only use coding techniques that have been covered in course readings, videos, and lectures. Use of other techniques may result in loss of points.
* All problems are worth 20 points; they are not necessarily in order of difficulty.
* THANK YOU for a delightful semester.

## Problem 1

Suppose you are in charge of designing the software for the cash registers at a grocery store. You decide to represent a customer's whole shopping trip using a **purchase dictionary** of this form:
```
{
    123456: {'quantity': 4, 'unit price': 1.00},
    34654: {'quantity': 1, 'unit price': 3.59},
    443002: {'quantity': 5, 'unit price': 2.29}
}
```
In the **purchase dictionary**, each key is a product barcode. The value for each key is a dictionary that contains the quantity of the product that the customer purchased, and the price per item.

Customers can use discount coupons when they buy items at your store. Typically, a customer hands the cashier several coupons. All of the coupons cannot necessarily be used, however -- each coupon specifies which product it applies to, a quantity of that product that the customer must purchase to receive the discount, and the discount that the customer will receive. If a customer doesn't buy a coupon's product, or if they don't buy enough of the product, the coupon will not apply. You decide to represent all of a customer's coupons with a **coupon dictionary** of this form:
```
{
    123456: {'quantity': 4, 'discount': .25},
    443002: {'quantity': 6, 'discount': .33}
}
```
This **coupon dictionary** tells us that the customer gave the cashier two coupons, one for the product whose barcode is 123456, and one for the product whose barcode is 443002. The 123456 coupon can be used if the customer buys 4 or more of that product; the discount will be 25% (.25). Similarly, the 443002 coupon can be used if the customer buys 6 or more of that product; the discount will be .33.

Looking at the **purchase dictionary** and **coupon dictionary** above, we see the following:
* The coupon for product 123456 can be used -- the customer bought 4 of those, which is enough to get the discount. The initial total for these items would be $4 x \$1.00 = \$4.00$, but after subtracting a 25% discount, the total comes to \\$3.00.
* The coupon for product 443002 cannot be used -- the customer only bought 5 of those, and the coupon requires 6.

Write a function named `coupon` that requires two parameters, a **purchase dictionary** and a **coupon dictionary**. The first argument tells us what the customer purchased, and the second argument tells us which coupons the customer hopes to use. Your function should calculate the customer's total amount spent, subtract any discounts due to coupons that can be used, and return this amount as a float.

Do not worry about the number of decimal places in your answer; accept whatever precision Python provides.

In [ ]:
# Problem 1 code in this cell

In [ ]:
# Test data for Problem 1

purchase_dict_1 = {
    123456: {'quantity': 4, 'unit price': 1.00},
    34654: {'quantity': 1, 'unit price': 3.59},
    443002: {'quantity': 5, 'unit price': 2.29}
}

coupon_dict_1 = {
    123456: {'quantity': 4, 'discount': .25},
    443002: {'quantity': 6, 'discount': .33}
}

coupon_dict_2 = {
    123456: {'quantity': 4, 'discount': .25},
    443002: {'quantity': 5, 'discount': .33}
}


coupon_dict_3 = {
    123456: {'quantity': 4, 'discount': .25},
    34654: {'quantity': 1, 'discount': .50}
}

print(coupon(purchase_dict_1, coupon_dict_1))  # 18.04
print(coupon(purchase_dict_1, coupon_dict_2))  # 14.261...
print(coupon(purchase_dict_1, coupon_dict_3))  # 16.244...

## Problem 2

Suppose your company's sales data is represented with a Python list in this form:
```
sales_data = [
    # 2020
    [
        [1200, 950, 1100, 1400],  # Category 1; sales in Region 1, 2, 3, 4
        [800, 760, 900, 650],     # Category 2
        [500, 600, 550, 700],     # Category 3
        [1500, 1300, 1400, 1600], # Category 4
        [700, 550, 650, 500],     # Category 5
    ],
    # 2021
    [
        [1300, 980, 1150, 1450],  # Category 1
        [850, 780, 920, 670],     # Category 2
        [520, 630, 570, 730],     # Category 3
        [1550, 1350, 1450, 1650], # Category 4
        [730, 580, 690, 520],     # Category 5
    ],
    # 2022
    [
        [1350, 1020, 1200, 1500], # Category 1
        [880, 800, 940, 700],     # Category 2
        [540, 650, 590, 750],     # Category 3
        [1600, 1400, 1500, 1700], # Category 4
        [760, 610, 720, 540],     # Category 5
    ]
]
```
Each list element represents data for one year; this example has sales data for three years. Each inner list has five elements, one for each category of product your company sells. Each of those lists, in turn, has four elements, one for each region of the country. The regions are North, South, East, and West, and the values in the list are in that order.

Write a function named `sales` that requires three parameters, a list like the one shown above, an integer representing a category number, and a string representing a region. The possible values for the category number (the second argument) are `1`, `2`, `3`, `4`, and `5`. The possible values for the region (the third argument) are `'North'`, `'South'`, `'East'`, and `'West'`. Your function should return the sum of the sales for the given category and region over all years. Your returned value will be a number.

We will always test with valid values for all arguments. Specifically:
* Each inner list will always have 5 elements, one per category
* Each inner-inner list will always have 4 elements, one per region
* For the second argument, the only values we will test with are 1, 2, 3, 4, and 5
* For the third argument, the only values we will test with are 'North', 'South', 'East', and 'West', and we will always capitalize them exactly as shown here.

Do not assume that the first argument is a list containing only three elements; we may test with a list representing a different number of years.

In [ ]:
# Problem 2 code in this cell

In [ ]:
# Test data for Problem 2

sales_data_test = [
    # 2020
    [
        [1200, 950, 1100, 1400],  # Category 1; sales in Region 1, 2, 3, 4
        [800, 760, 900, 650],     # Category 2
        [500, 600, 550, 700],     # Category 3
        [1500, 1300, 1400, 1600], # Category 4
        [700, 550, 650, 500],     # Category 5
    ],
    # 2021
    [
        [1300, 980, 1150, 1450],  # Category 1
        [850, 780, 920, 670],     # Category 2
        [520, 630, 570, 730],     # Category 3
        [1550, 1350, 1450, 1650], # Category 4
        [730, 580, 690, 520],     # Category 5
    ],
    # 2022
    [
        [1350, 1020, 1200, 1500], # Category 1
        [880, 800, 940, 700],     # Category 2
        [540, 650, 590, 750],     # Category 3
        [1600, 1400, 1500, 1700], # Category 4
        [760, 610, 720, 540],     # Category 5
    ]
]

print(sales(sales_data_test, 5, 'West'))  # 1560
print(sales(sales_data_test, 2, 'East'))  # 2760
print(sales(sales_data_test, 4, 'South')) # 4050
print(sales(sales_data_test, 1, 'North')) # 3850

## Problem 3

This problem relies on the file `favorites.txt`. You have this file; look at the Jupyter file navigation area on the left side of the window. The file contains data in CSV format with five fields per line. Some lines have one or more empty fields. Here is an excerpt from the file:
```
Name,Favorite Color,Favorite Food,Favorite Number,Age
Alice,Red,Pizza,42,30
Bob,,Hamburger,27,45
,,Sushi,35,22
```

The line for `Alice` contains data for all five fields, the line for `Bob` is missing a value for `Favorite Color`, and the last line is missing values for both `Name` and `Favorite Color`. Every line might have zero or more missing values, however, **ALL LINES** contain a value for `Age` -- that value will never be missing.

Write a function named `favorites` that requires one parameter, a string representing the name of a file. Your function should open the named file, read it in, and return a single dictionary having these keys:
```
{
    'line_count': ____,
    'number_of_outliers': ____,
    'max_age': ____,
    'min_age': ____
}
```
The value for each key should be an integer. When calculating all values, **exclude** the first line of the file. For `line_count`, the value should be a count of how many data lines the file contains. For `number_of_outliers`, the value should be a count of how many lines do not have all five values. For `max_age`, the value should be the maximum age represented in the data. For `min_age`, the value should be the minimum age represented in the data. Remember to close the file. Do not hardcode `favorites.txt` as the filename; we may test with a file having a different name.

In [ ]:
# Problem 3 code in this cell

In [ ]:
# Test data for Problem 3

print(favorites('favorites.txt'))

# Should print this dictionary:
{'line_count': 192, 'number_of_outliers': 138, 'max_age': 50, 'min_age': 21}

## Problem 4

This is the database problem; it relies on the database file `library.db`. You have this file; look at the Jupyter file navigation area on the left side of the window. Don't double-click the DB file -- Jupyter cannot open database files. To examine the tables and the data, use the ExtendsClass website for which there is a link in Canvas. You can also use the ExtendsClass website to build and run SQL statements.

The database for this problem contains four tables: Books, Customers, BorrowedBooks, and Authors. These tables contain data about a library. There are Books written by Authors. There are Customers who take books out of the library. When a Customer takes out a Book, a row is added to the BorrowedBooks table.

### Part A (5 points)
Write a SQL SELECT statement to retrieve every customer of the library, their full name (in the form _first_name space last_name_), and the number of books they have borrowed. Sort the result in descending order of the number of books borrowed.

Your SQL SELECT statement **must** contain:

* a JOIN or LEFT JOIN (you decide which is appropriate)
* a GROUP BY clause
* an ORDER BY clause that sort your results in descending order of the number of books borrowed

Your SQL SELECT statement **must not** contain:
* a WHERE clause
* a HAVING clause (even if you know what that is and how it works)

-- Paste your Part A SELECT statement in this cell

### Part B (15 points)
Write a function named `borrow` that requires one parameter, an integer. You can name the parameter whatever you want, but for discussion purposes, let's refer to the parameter as N. Your function must determine which customers have borrowed _N or more_ books.

Your function must return a list of tuples; each tuple should contain three elements: a customer_id as an integer, a customer's full name as a string (in the form _first_name space last_name_), and the number of books that customer has borrowed as an integer. The list of tuples must be sorted in descending order of the number of books borrowed. Remember to limit the list to only customers who have borrowed N or more books.

Your function must do the following:
* connect to the `library.db` database
* execute the SELECT statement you created in Part A (paste it into your code below)
* use the results of executing the query
* close the database connection

In [ ]:
import sqlite3

# Problem 4 function below this line...

In [ ]:
# Test data for Problem 4

print(borrow(3))  # [(1, 'Ariana Goldblum', 4), (2, 'Ravi Singh', 3)]
print(borrow(2))  # [(1, 'Ariana Goldblum', 4), (2, 'Ravi Singh', 3)]
print(borrow(1))  # [(1, 'Ariana Goldblum', 4), (2, 'Ravi Singh', 3), (4, 'Viktor Nemov', 1)]

## Problem 5

The formula to calculate the future value of an investment with regular contributions is as follows<sup>*</sup>:

$$FV = P \times (1 + r)^t + C \times \frac{(1 + r)^t - 1}{r}$$

The meaning of each term in the expression:
* `P` is the principal, that is, the initial investment amount
* `C` is the contribution made at the end of each period
* `r` is the interest rate per period
* `t` is the number of periods

Write a function named `fv` that requires four parameters which are the terms listed above, in that order. Your function should calculate the formula and return the FV amount as a float. You do not need to adjust any of the parameters. You may assume that all are floats except for `t` which will be an integer.

Do not worry about the number of decimal places in your answer; accept whatever precision Python provides.

<sup>*</sup>Your instructor is not a finance guru. If this formula happens to be incorrect, please use it anyway. :-)

In [ ]:
# Problem 5 code in this cell

In [ ]:
# Test data for Problem 5
# Exact match for all decimal places it not required

print(fv(2000, 150, 0.03 / 12, 12))  # 3885.7893286374174
print(fv(10000, 0, 0.048 / 12, 24))  # 11005.483003371204
print(fv(500, 200, 0.06 / 12, 36))   # 8465.561255348295
print(fv(1500, 50, 0.084 / 12, 24))  # 3075.1129669522334
print(fv(1000, 25, 0.018 / 12, 60))  # 2662.4422232436646